<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppControlServiceURL</key>
	<string>http://m.api.yell.com/mac-1.0</string>
	<key>AppControlMinTimeBetweenUpdatesInSeconds</key>
	<integer>86400</integer>
	<key>AppControlAppName</key>
	<string>Mexican Wave</string>
	<key>AppControlPlatformName</key>
	<string>iOS</string>
</dict>
</plist>
